table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
background-color: #ddd;
  text-align: center;
    cursor: pointer;
}

th.sortable:hover {
    background-color: lightgray;
}

th.sorted-asc::after {
    content: ' ▲';
}

th.sorted-desc::after {
    content: ' ▼';
}


